<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spaceships Page</title>
  <%- include('../Views/nav')-%>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <h1>Spaceship List</h1>
  <!--WORKING-->
  <table id="spaceship-table" border="1">
    <thead>
      <tr>
        <th>Max Weight</th>
        <th>Captain ID</th>
      </tr>
    </thead>
    <tbody>
      <% if (spaceship.length) { %>
        <% spaceship.forEach(spaceship => { %>
          <tr>
            <td><%= spaceship.maxweight %></td>
            <td><%= spaceship.captainid %></td>
          </tr>
        <% }); %>
      <% } else { %>
        <tr>
          <td colspan="5">No spaceship found.</td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <!--WORKING-->
  <h2>Add Spaceship</h2>
  <form id="add-captain-form" method="post">
    <label for="maxweight">Max Weight:</label>
    <input type="text" id="maxweight" name="maxweight" required><br><br>

    <label for="captainid">Captain ID:</label>
    <input type="text" id="captainid" name="captainid" required><br><br>

    <button type="submit">Add Spaceship</button>
  </form>

  <h2>Update Spaceship</h2>
  <form id="update-delete-spaceship-form">
    <label for="spaceship-id">Spaceship ID: </label>
    <input type="number" name="spaceship-id" id="spaceship-id" required>
    <br>
    <label for="new-maxweight">New Max Weight: </label>
    <input type="number" name="new-maxweight">
    <br>
    <label for="new-captainid">New Captain ID: </label>
    <input type="number" name="new-captainid">
    <br>
    <button type="button" id="update-spaceship">Update Spaceship</button>
   
  </form>

  <h2>Delete Spaceship</h2>
  <form id="delete-cargo-form" method="delete">
    <label for="spaceship-id">Spaceship ID: </label>
    <input type="number" name="spaceship-id" id="spaceship-id" required><br><br>

    <button type="submit">Delete Spaceship</button>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/spaceship.js"></script>

</body>
</html>
